.spollers {
    &__item {
        font-size: 20px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__title {
        width: 100%;
        cursor: default;
        text-align: left;
        padding: 10px 40px 10px 15px;
        background-color: var(--shaft);
        position: relative;
        color: var(--white);

        ._spoller-init & {
            cursor: pointer;

            &::before,
            &::after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                background-color: var(--white);
                height: 2px;
                width: 15px;
                transition: transform 0.5s ease 0s;
            }

            &::before {
                transform: translate(-75%, -50%) rotate(40deg);
            }

            &::after {
                transform: translate(0, -50%) rotate(-40deg);
            }

            &._spoller-active {
                &::before {
                    transform: translateX(-75%) rotate(-40deg);
                }

                &::after {
                    transform: rotate(40deg);
                }
            }
        }
    }

    &__body {
        color: var(--shaft);
        font-size: 16px;
        line-height: 120%;
        padding: 12px 15px;
        border: 1px solid var(--shaft);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
