<section class="chapter gap-top-50">
    <div class="container">
        <h2 class="chapter__title title-2">Разделы</h2>
        <ul class="chapter__list list-reset gap-top-30 gap-left-12">
            <li class="chapter__item">
                <h3 class="title-3">HTML</h3>
                <ul class="list-reset text-1 gap-top-10 gap-left-12">
                    <li>
                        -
                    </li>
                </ul>
            </li>
            <li class="chapter__item gap-top-20">
                <h3 class="title-3">CSS</h3>
                <ul class="list-reset text-1 gap-top-10 gap-left-12">
                    <li>
                        -
                    </li>
                </ul>
            </li>
            <li class="chapter__item gap-top-20">
                <h3 class="title-3">JavaScript</h3>
                <ul class="list-reset text-1 gap-top-10 gap-left-12">
                    <li>
                        <a href="bogdan-stash-js.html" class="link" target="_blank">
                            Bogdan Stashchuk - Полный Курс По JavaScript (Включает 80 Задач)
                        </a>
                    </li>
                    <li class="gap-top-5">
                        <a href="itgid-array-methods.html" class="link" target="_blank">
                            [Itgid] Методы массивов JavaScript [Александр Лущенко]
                        </a>
                    </li>
                </ul>
            </li>
            <li class="chapter__item gap-top-20">
                <h3 class="title-3">Другое</h3>
                <ul class="list-reset text-1 gap-top-10 gap-left-12">
                    <li>
                        <a href="bogdan-stash-git.html" class="link" target="_blank">
                            Bogdan Stashchuk - Полный Курс Git и GitHub Для Начинающих
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
