.title-2 {
    @include adaptiveValue("font-size", 28, 24);
    line-height: 120%;
    font-weight: 600;
}

.title-3 {
    @include adaptiveValue("font-size", 24, 20);
    line-height: 120%;
    font-weight: 500;
}

.title-4 {
    @include adaptiveValue("font-size", 22, 18);
    line-height: 120%;
    font-weight: 500;
}

.text-1 {
    @include adaptiveValue("font-size", 18, 16);
    line-height: 120%;
    font-weight: 400;
}

.text-2 {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 120%;
    font-weight: 400;
}

.link {
    transition: color $transitionSpeed $transitionFunction;

    &:hover {
        color: var(--blue);
    }
}

.gap-top-50 {
    @include adaptiveValue("margin-top", 50, 30);
}

.gap-top-30 {
    @include adaptiveValue("margin-top", 30, 20);
}

.gap-bottom-30 {
    @include adaptiveValue("margin-bottom", 30, 20);
}

.gap-top-20 {
    @include adaptiveValue("margin-top", 20, 15);
}

.gap-top-15 {
    @include adaptiveValue("margin-top", 15, 10);
}

.gap-top-10 {
    margin-top: 10px;
}

.gap-top-5 {
    margin-top: 5px;
}

.gap-left-12 {
    margin-left: 12px;
}

.def {
    >span:first-child {
        font-weight: 700;
        color: var(--blue);
    }

    >p {
        display: inline;

        &::before {
            content: '-';
        }
    }
}

.d-inline-b {
    display: inline-block !important;
}

.d-inline {
    display: inline !important;
}

.bg-gray-list {
    display: flex;
    span{
        margin: 0 !important;
    }
    >p:nth-child(1){
        margin: 0 7px 0 0px !important;
    }
    >p:nth-child(2){
        margin: 0 0 0 7px !important;
    }
    p{
        display: flex;
        align-items: center;
        span{
            background-color: var(--shaft);
            color: var(--white);
            border-radius: 10px;
            padding: 0 10px;
            &:not(:first-child){
                margin-left: 7px;
            }
        }
    }
}

.img--small{
    max-width: 200px !important;
}
.img--big{
    max-width: 400px !important;
}