// main
$fontFamily: "Inter";
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1270;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #000; // Цвет шрифта по умолчанию

:root {

    // additional colors
    --shaft: #3a3a3a;
    --gray: #686868;
    --dark-gray: #72727E;
    --silver: #C0C0C0;
    --blue: #446DF6;
    --dark-blue: #141B41;
    --white: #fff;
    --water: #F7F8FD;
}



// others vars
$transitionSpeed: 0.2s;
$transitionFunction: ease-in-out;



// break points
$desktop: $containerWidth+px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;
